<!DOCTYPE html>
<html xmlns:th =" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body class="bg-info">
	<div class="container">
 		<div class="row justify-content-center vh-100">
 			<div class="col-12 col-lg-4  align-self-center">	
 			
	 			<div class="p-4 bg-light">
					<div class="text-center">
						<h4 class="m-4">ユーザ管理システム</h4>
					</div>
					
					<div class="alert alert-danger" th:if="${param.error}">
						<small>ユーザ名またはパスワードが正しくありません</small>
					</div>
					<div class="alert alert-success" th:if="${param.register}">
						<small>ユーザを新規登録しました</small>
					</div>	
					<div class="alert alert-success" th:if="${param.logout}">
						<small>ログアウトしました</small>
					</div>
					
					<form th:action="@{/login}" class="user" method="post">
						<div class="form-group">
							<input type="text" class="form-control form-control-user" name="username" placeholder="ユーザ名">
						</div>
						<div class="form-group">
							<input type="password" class="form-control form-control-user" name="password" placeholder="パスワード">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox small">
								<input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me">
								<label class="custom-control-label" for="remember-me">ログインしたままにする</label>
							</div>
						</div>
						<button class="btn btn-primary btn-user btn-block">ログイン</button>
					</form>
					<hr>
					
					<div class="text-center">
						<a th:href="@{/register}">新規登録はこちら</a>
					</div>
					
				</div>
		
			</div>
		</div>
	</div>
	<th:block th:insert="fragments/base :: scripts"></th:block>

</body>
</html>